version: "3.8"

services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: railway
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    restart: always
    ports:
      - "80:8080"
    depends_on:
      - mysql

volumes:
  mysql_data:


